<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Legal notice for FamilyNest, an open-source, free, and self-hostable collaborative family tree project."
    />

    <title data-t="LEGAL_NOTICE_PAGE.TITLE">Legal Notice - FamilyNest</title>
    <link rel="stylesheet" href="/static/styles/legal_text.css" />
    <script defer src="/static/scripts/translation.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initTranslations(getBestLanguage());
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 data-t="LEGAL_NOTICE_PAGE.PAGE_TITLE">Legal Notice</h1>
        <p class="intro" data-t="LEGAL_NOTICE_PAGE.INTRO">
          This legal notice governs the use of
          <strong>FamilyNest</strong>.
        </p>
      </div>
      <div class="card">
        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.EDITOR_TITLE">1. Site Editor</h2>
          <p data-t="LEGAL_NOTICE_PAGE.EDITOR_GITHUB">
            Github Username: PaulExplorer
          </p>
          <p>
            <span data-t="LEGAL_NOTICE_PAGE.EDITOR_EMAIL">Email: </span>
            <span> </span>
            <a href="mailto:{{support_email}}">{{support_email}}</a>
          </p>
        </section>

        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.HOSTING_TITLE">2. Hosting</h2>
          <p data-t="LEGAL_NOTICE_PAGE.HOSTING_NAME">Host name: Vercel</p>
          <p>
            <span data-t="LEGAL_NOTICE_PAGE.HOSTING_WEBSITE">Website: </span>
            <span> </span>
            <a
              href="https://www.vercel.com"
              data-t="LEGAL_NOTICE_PAGE.HOSTING_WEBSITE_LINK"
              >Host's website</a
            >
          </p>
        </section>

        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.DATA_HOSTING_TITLE">3. Data Hosting</h2>
          <p data-t="LEGAL_NOTICE_PAGE.DATA_HOSTING_NAME">
            Host name: Supabase
          </p>
          <p>
            <span data-t="LEGAL_NOTICE_PAGE.HOSTING_WEBSITE">Website: </span>
            <span> </span>
            <a
              href="https://www.supabase.com"
              data-t="LEGAL_NOTICE_PAGE.HOSTING_WEBSITE_LINK"
              >Host's website</a
            >
          </p>
        </section>

        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.INTELLECTUAL_PROPERTY_TITLE">
            4. Intellectual Property
          </h2>
          <p data-t="LEGAL_NOTICE_PAGE.INTELLECTUAL_PROPERTY_CONTENT">
            The content of this site is the property of PLLX76 and is protected
            by intellectual property laws.
          </p>
          <p data-t="LEGAL_NOTICE_PAGE.INTELLECTUAL_PROPERTY_LICENSE">
            The source code is available under the AGPLv3 open source license.
          </p>
        </section>

        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.PRIVACY_TITLE">5. Privacy</h2>
          <p data-t="LEGAL_NOTICE_PAGE.PRIVACY_CONTENT">
            This site does not collect any personal data.
          </p>
        </section>

        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.LIABILITY_TITLE">
            6. Limitation of Liability
          </h2>
          <p data-t="LEGAL_NOTICE_PAGE.LIABILITY_CONTENT">
            The information provided on this site is for informational purposes
            only and does not engage the publisher's liability.
          </p>
        </section>

        <section>
          <h2 data-t="LEGAL_NOTICE_PAGE.APPLICABLE_LAW_TITLE">
            7. Applicable Law
          </h2>
          <p data-t="LEGAL_NOTICE_PAGE.APPLICABLE_LAW_CONTENT">
            This site is governed by French law.
          </p>
        </section>
        <div class="note">
          <p>
            <strong data-t="LEGAL_NOTICE_PAGE.LAST_UPDATE">Last update:</strong>
            11/11/2025
          </p>
        </div>
      </div>

      <div class="footer">
        <p data-t="LEGAL_NOTICE_PAGE.FOOTER">
          FamilyNest &copy; 2025 - All rights reserved
        </p>
      </div>
    </div>
  </body>
</html>
